In [2]:
import pandas as pd
import numpy as np
import sklearn as sk
import time
import scipy
df = pd.read_csv('C:/Users/Roland/MLOps/Udacity/data/winequality-red.csv', sep=';')
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [ ]:
import time
import pandas as pd
import numpy as np

In [ ]:
with open('books_published_last_two_years.txt') as f:
    recent_books = f.read().split('\n')
    
with open('all_coding_books.txt') as f:
    coding_books = f.read().split('\n')

In [ ]:
start = time.time()
recent_coding_books = []

for book in recent_books:
    if book in coding_books:
        recent_coding_books.append(book)

print(len(recent_coding_books))
print('Duration: {} seconds'.format(time.time() - start))

In [ ]:
# Using vector operations over loops 
start = time.time()
recent_coding_books = np.intersect1d(recent_books, coding_books)
print(len(recent_coding_books))
print('Duration: {} seconds'.format(time.time() - start))

In [ ]:
# Using data structures
start = time.time()
recent_coding_books = set(recent_books).intersection(set(coding_books))
print(len(recent_coding_books))
print('Duration: {} seconds'.format(time.time() - start))

In [3]:
# Try except statements

In [7]:
def read_data(file_path):
    try:
        df = pd.read_csv(file_path)
        return df
    except (FileNotFoundError, SyntaxError, ImportError, TypeError):
        if FileNotFoundError:
            print('We were not able to find the path')
        else:
            print('Some other error')
    
read_data('some path')

We were not able to find the path

In [18]:
def divide_vals(numerator, denominator):
    '''
    Args:
        numerator: (float) numerator of fraction
        denominator: (float) denominator of fraction

    Returns:
        fraction_val: (float) numerator/denominator
    '''
    try:
        fraction_val = numerator/denominator
        return fraction_val
    except ZeroDivisionError:
        return 'Denominator cannot be zero'
    
print(divide_vals (4,0))
        # try to return the fraction but if the denominator is zero
    # catch the error and return a string saying: 
    # "denominator cannot be zero"

def num_words(text):
    '''
    Args:
        text: (string) string of words

    Returns:
        num_words: (int) number of words in the string
    '''
    try:
        num_words = len(text.split())
        return num_words
    except AttributeError:
        return 'text argument must be a string'
    # try to split based on spaces and return num of words
    # but if text isnt a string return "text argument must be a string"
    
print(num_words(2))
print(num_words('This is some text'))

Denominator cannot be zero
text argument must be a string
4